{
  "singleQuote": true,
  "printWidth": 90,
  "jsxBracketSameLine": false,
  "semi": true,
  "endOfLine": "auto",
  "trailingComma": "all",
  "tabWidth": 2,
  "quoteProps": "as-needed",
  "singleAttributePerLine": false,
  "bracketSpacing": true
}