{
  "printWidth": 90,
  "singleQuote": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "quoteProps": "as-needed",
  "singleAttributePerLine": false,
  "bracketSpacing": true,
  "semi": true,
  "endOfLine": "auto"
}