{
	"parser": "@typescript-eslint/parser",
	"extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended-requiring-type-checking", "plugin:@typescript-eslint/recommended"],
	"plugins": ["@typescript-eslint"],
	"parserOptions": {
		"ecmaVersion": 2018,
		"sourceType": "module",
		"project": "./tsconfig.json"
	},
	"rules": {
		"no-multiple-empty-lines": 2,
		"@typescript-eslint/no-unsafe-member-access": "off",
		"@typescript-eslint/no-unsafe-assignment": "off"
	},
	"overrides": [
		{
			"files": ["*.repo.ts"],
			"rules": {
				"@typescript-eslint/explicit-function-return-type": "error"
			},
			"excludedFiles": ["base.ts"]
		}
	],
	"env": {
		"node": true
	},
	"root": true
}
